In [15]:
import pandas
from re import search
#df=pandas.read_csv("C:\Users\\5004064\\source\\repos\\data-science-prg302-civ\\cleaning\\medical_students_dataset.csv")
odf=pandas.read_csv("cleaning\\medical_students_original.csv")

In [23]:
print(odf["Gender"].unique())
print(df["Gender"].unique())

['Female' 'Male' nan]
['Female' 'Male' nan 'F' 'DFemale' 'M' 'male' 'Fwemale' 'Nonbinary' 'O'
 'm' 'f' 'female' 'FDemale' 'Other' 'Mmale' 'non-binary' 'Femal' 'Fenmale'
 'Femaole' 'Non-binary' 'Mafle' 'NB' 'nale' 'nonbinary' 'n']

In [27]:
def map_gender(gender_str):
    lookup={"o":"Unspecified",
            "other":"Unspecified",
            "nale":"Male"}
    if (pandas.isnull(gender_str)):
        return "Unspecified"
    lwr=str(gender_str).lower()
    first=lwr[0]
    if (search("fem",lwr)):
        return "Female"
    if (first=="m"):
        return "Male"
    elif (first=="f"):
        return "Female"
    elif (first=="n"):
        return "Nonbinary"
    else:
        tx=lookup.get(str(gender_str).lower())
        return gender_str if tx is None else tx
lookup=pandas.DataFrame()
print(df["Gender"].apply(map_gender).unique())
#df["Gender"].unique()

['Female' 'Male' 'Unspecified' 'Nonbinary']

In [ ]:

nonnulls=odf[odf['Gender'].notna() & odf['Age'].notna()]
print(nonnulls.sort_values(['Gender','Age']))

nonnulls.eval()

        Student ID   Age  Gender      Height     Weight Blood Type        BMI  \
0              1.0  18.0  Female  161.777924  72.354947          O  27.645835
126          127.0  18.0  Female  159.484893  63.197546          B  24.846265
151          152.0  18.0  Female  179.748760  83.693298          A        NaN
165          166.0  18.0  Female  156.705013  52.445831         AB  21.357243
169          170.0  18.0  Female  195.410436  69.067051          B  18.087369
...            ...   ...     ...         ...        ...        ...        ...
199928     99929.0  34.0    Male  170.559164  53.782290          O  18.487968
199942     99943.0  34.0    Male  188.570042  64.131836          A  18.035504
199972     99973.0  34.0    Male         NaN  80.188752         AB  21.270517
199986     99987.0  34.0    Male  165.651315  93.099756          A  33.928040
199992     99993.0  34.0    Male  161.590030  90.877589          B  34.803881

        Temperature  Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0               NaN        95.0           109.0        203.0       No     NaN
126       98.688134        60.0           130.0        162.0       No     Yes
151       99.156425        77.0            90.0        182.0       No      No
165       98.654610        61.0           102.0        128.0       No      No
169       98.865134        61.0             NaN        215.0      NaN      No
...             ...         ...             ...          ...      ...     ...
199928    98.392237        88.0           127.0        126.0       No      No
199942    98.884022         NaN           128.0        242.0      NaN      No
199972    98.853214        81.0           117.0        244.0       No      No
199986    97.862209        62.0           100.0        205.0       No      No
199992    98.728836        70.0            96.0        208.0       No      No

[161985 rows x 13 columns]